* {
	box-sizing: border-box;
}
#chat-section-div {
	height: calc(100vh - 50px);
	margin-bottom: 0.4%;
	padding: 1%;
	overflow-y: scroll;
	border: solid black 1px;
	word-wrap: break-word;
}
.message-box-div {
	bottom: 30px;
	width: 100%;
}
.flex-container {
	display: flex;
	flex-wrap: nowrap;
}
#message-input {
	width: 85%;
	height: 30px;
	outline: none;
	border: solid black 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 1%;
}
#username-input {
	width: 20%;
	margin-right: 1%;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	border: solid black 1px;
}
.message-box-div input[type="button"] {
	height: 30px;
	border: solid black 1px;
	width: auto;
}