* {
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

:root {
    --send-bg: #007aff;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
    --page-background: white;
}

.container {
    height: 100vh;
    width: 100vw;
    /* background-image: url("background.svg"); */
    font-style: regular;
    min-width: 800px;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.no-scroll {
    overflow: hidden;
}

.flex {
    display: flex;
}

.growable {
    flex-grow: 1;
}

.shrinkable {
    flex-shrink: 1;
}

.flex-start {
    justify-content: flex-start;
}

.no-shrink {
    flex-shrink: 0;
}

.left {
    width: 25vw;
    height: auto;
    background-color: #ede8ed;
    min-width: 300px;
    border-right: 1px solid #ececec;
}

/* .left > .users {
    display: none;
} */

.right {
    width: 75vw;
    height: auto;
}

#top-bar-left {
    background-color: #fafafa;
    height: 55px;
    position: static;
    padding: 1em 0 1em 0;
}

.round-corner {
    border-radius: 8px;
}

.separated {
    margin: 0.6em;
}

.no-outline {
    outline: none;
}

.gray-border {
    border: 1px solid #c4c4c4;
}

.search {
    background-color: #fafafa;
    width: 100%;
    text-align: center;
    padding: 0 5px 5px;
    display: none;
}

.search > input[type="text"] {
    border-radius: 10px;
    /* width: 10em; */
    background-color: #f3f3f5;
    transition: all 1s ease-in-out;
    align-self: center;
    display: none;
    height: 30px;
    width: 70%;
    padding: 0 10px 0 10px;
    outline: none;
    border: none;
}

#search-icon {
    color: #0e0f0f;
    margin-right: 18px;
    /* margin-top: 5px; */
    align-self: center;
    justify-content: center;
}

#top-bar-left>p {
    align-self: center;
}

.inline-block {
    display: inline-block;
}

.profile-icon {
    background-color: rgb(0, 81, 255);
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
    align-self: center;
    margin-right: 5px;
    padding-top: 3px;
}
.user-icon {
    background-color: red;
    border-radius: 50%;
    align-self: center;
    margin: 10px;
    padding-top: 3px;
}

.space-between {
    justify-content: space-between;
}

.smol-icon {
    height: 1.3em;
    width: 1.3em;
}

.medium-icon {
    height: 2.5em;
    width: 2.5em;
}

.pointable {
    cursor: pointer;
}

.user {
    height: 80px;
    background-color: #fff;
    /* border-top: 1px solid #707070 ; */
    margin: 1em;
    margin: 0;
    flex-shrink: 0;
    cursor: pointer;
    position: static;
}

.header {
    background-color: #fafafa;
    width: auto;
    height: 55px;
    position: static;
    /* box-shadow: 1em 0 0.4em black; */
    padding: 1em 0 1em 0;
}

.chat {
    width: auto;
    display: flex;
    flex-direction: column;

    /* word-wrap: break-word; */
    word-wrap: normal;
    /* word-break: break-all; */
    padding: 25px 75px 0 75px;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.scrollable {
    overflow-y: auto;
}

.footer {
    background-color: #fff;
    /* background-color: #f0f2f5; */
    width: auto;
    height: 60px;
    position: static;
    padding: 0.1em 0 0.4em 0;
    /* margin: 0 0 0 0; */
}

.no-border {
    border: none;
}

#message-box {
    /* color: #FAFAFA; */
    background-color: #f3f3f5;
    width: auto;
    height: 2.7em;
    border: 0px solid #c8c8cc;
    padding: 0 0.5em 0 0.5em;
    /* margin-left: 1.5em; */
}

.center-flex-item {
    justify-content: center;
    align-items: center;
}

.center-align-item {
    align-items: center;;
}

.flex-ratio {
    flex: 1 1;
}

#emojis {
    /* flex-grow: 0.3; */
    width: 20px;
    height: 20px;
    /* margin: 20px; */
    cursor: pointer;
    /* background-color: #fafafa; */
    transition: all 0.5s ease-in;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

#send {
    width: 24px;
    /* height: 20px; */
    /* margin-right: 5px; */
    /* margin-left: -2em; */
    /* right: 30px; */
    align-self: center;
    padding-top:2px;
    margin-left:25px;
    margin-right:25px;
}

#dummy-text-field {
    background-color: #f3f3f5;
    border-radius: 30px;
    width: 1em;
    height: 2.7em;
    border: 0px solid #c8c8cc;
    padding: 0.6em;
    /* margin-left: 1.5em; */
    /* margin: 0 1em 2em 1em; */
    margin: 0.4em;
}

#top-bar-right {
    justify-content: flex-start;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

.chat::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.users::-webkit-scrollbar {
    width: 5px;
}

.users::-webkit-scrollabar-thumb {
    background: #ffffff;
}

.users:hover::-webkit-scrollbar-thumb {
    background: #999;
}

.smol-medium-icon{
    height: 35px;
    width: 35px;
}

.user:hover{
    background-color: #f2f2f2;
}

.user {
    border-bottom: 1px solid #f2f2f2;
}

.chat>p {
    max-width: 62.5%;
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    margin-bottom: 12px;
    line-height: 20px;
    position: relative;
    padding: 8px 12px;
    border-radius: 25px;
}

.chat>p:before,
.chat>p:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}

.send {
    color: var(--send-color);
    background: var(--send-bg);
    align-self: flex-end;
    /* margin-top: -10px; */
}

.send:before {
    right: -7px;
    /* width: 20px; */
    background-color: var(--send-bg);
    border-bottom-left-radius: 16px 14px;
}

.send:after {
    right: -26px;
    /* width: 26px; */
    background-color: var(--page-background);
    border-bottom-left-radius: 10px;
}

.receive {
    background: var(--receive-bg);
    color: black;
    align-self: flex-start;
    
}

.receive:before {
    left: -7px;
    /* width: 20px; */
    background-color: var(--receive-bg);
    border-bottom-right-radius: 16px 14px;
}

.receive:after {
    left: -26px;
    /* width: 26px; */
    background-color: var(--page-background);
    border-bottom-right-radius: 10px;
}

.username{
    flex-grow: 1;
}

#left-icon{
    transition: all 0.5s;
}

#left-icon:hover{
    transform: scale(1.1);
}

.large-medium-icon{
    height: 5em;
    width: 5em;
}

.profile-settings-icon{
    margin: 1em;
}

/* .users{
    display: none;
} */

 .profile,.profile>* {
    display: none;
}


#settings-footer > a{
    border: none;
    cursor: pointer;
    margin: 5px;
    position: static;
    text-decoration: none;
    color: black;
}

.header > svg{
    background-color: red;
}