* {
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    /* background-image: url("background.svg"); */
    font-style: regular;
    min-width: 800px;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.no-scroll {
    overflow: hidden;
}

.flex {
    display: flex;
}

.growable {
    flex-grow: 1;
}

.shrinkable {
    flex-shrink: 1;
}

.flex-start {
    justify-content: flex-start;
}

.left {
    width: 30vw;
    height: auto;
    background-color: #ede8ed;
    min-width: 300px;
}

.right {
    width: 70vw;
    height: auto;
}

#top-bar-left{
    background-color: #fafafa;
    height: 55px;
    position: static;
}

.round-corner {
    border-radius: 8px;
}

.separated {
    margin: 0.6em;
}

.no-outline {
    outline: none;
}

.gray-border {
    border: 1px solid #c4c4c4;
}


.search>input[type="text"] {
    border-radius: 5px;
    transition: all 1s ease-in-out;
    justify-content: center;
    align-items: center;
    display: none;
}

.search>input[type="text"]:hover {
    border-color: #0e0f0f;
}

#search-icon {
    color: #0e0f0f;
    margin-right: 18px;
    /* margin-top: 5px; */
    align-self: center;
    justify-content: center;
}
#top-bar-left > p {
    align-self: center;
}

.inline-block {
    display: inline-block;
}

#profile-icon {
    background-color: red;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
}

.space-between {
    justify-content: space-between;
}

.smol-icon {
    height: 1.3em;
    width: 1.3em;
}

.medium-icon {
    height: 2.5em;
    width: 2.5em;
}

.pointable {
    cursor: pointer;
}

.user {
    border-radius: 10px;
    height: 10vh;
    background-color: pink;
    margin: 1em;
}

.header {
    background-color: #fafafa;
    width: auto;
    height: 55px;
    position: static;
    padding: 1em 0 1em 0;
}

.chat {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0 5.4em 0 5.4em;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.scrollable {
    overflow-y: auto;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    /* inline-size: 150px; 
    overflow: hidden; */
    /* word-break: break-all; */
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #e5e5ea;
    position: relative;
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    font-weight: 300;
    margin-left: 25%;
    background: linear-gradient(to bottom, #007aff 0%, #007aff 100%);
    background-attachment: fixed;
    position: relative;
}

.footer {
    /* background-color: #fafafa; */
    background-color: #f0f2f5;
    background-color: #fff;
    background-color: red;
    width: auto;
    height: 55px;
    position: static;
    padding: 0.4em 0 0.5em 0;
    /* margin: 0 0 0 0; */
}

.no-border {
    border: none;
}

#message-box{
    /* color: #FAFAFA; */
    background-color: #f3f3f5;
    background-color: #007aff;
    width: auto;
    height: 2.7em;
    border: 0px solid #c8c8cc;
    padding: 0 0.5em 0 0.5em;
    /* margin-left: 1.5em; */
} 

.center-flex-item{
    justify-content: center;
    align-items: center;
}

.flex-ratio{
    flex: 2 1;
}

#emoji-button{
    /* flex-grow: 0.3; */
    width: 20px;
    height: 20px;
    /* margin: 20px; */
    cursor: pointer;
    /* background-color: #fafafa; */
    transition: all 0.5s ease-in;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

#send{
    width: 24px;
    /* height: 20px; */
    margin-right: 10px;
    /* margin-left: -2em; */
    /* right: 30px; */
    align-self: center;
}

#dummy-text-field{
    background-color: #f3f3f5;
    background-color: #0e0f0f;
    /* background-color: #f0f2f5; */
    border-radius: 30px;
    width: 1em;
    height: 2.7em;
    border: 0px solid #c8c8cc;
    padding: 1em;
    /* margin-left: 1.5em; */
    margin: 0 1em 2em 1em;
}