.login-form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.login-form input[type="submit"] {
	outline: none;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.login-form input[type="text"], .login-form input[type="password"] {
	outline: none;
}