* {
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: white;
}

#container{
    background-color: white;
    min-height: 100vh;
    margin: 0 auto;
    /* display: flex; */
    display: none;
}

.noselect {
    user-select: none;
}
.nodrag {
    -webkit-user-drag: none;
}

.zero-margin {
    margin: 0;
}

.left{
    width: 50%;
    background-color: #233975;
}

.right{
    width: 50%;
    background-color: white;
}

#logo{
    width: 85%;
}

#bottom_illus{
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.small-text {
    font-size: 0.80em;
}

.left-text {
    text-align: left;
}

.big-top-margin {
  margin-top: 20px;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.item {
    flex: 1 1 20vh;
}

.zero-pad {
    padding: 0;
}

.full-height {
    height: 100vh;
}

.twenty-height { 
    height: 20vh;
}

.center-text {
    text-align: center;
}

.round-gray-border {
    border: solid 1px #c4c4c4;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}
.margin-bottom-zero {
    margin-bottom: 0;
}

.auto-margin {
    margin: auto;
}

input::placeholder {
    font-size: 0.75em;
}

button {
    width: 100%;
    border-radius: 5px;
    background-color: #233975;
    color: #ffffff;
    font-size: 0.7em;
    font-weight: bold;
    height: 2.9em;
    border: none;
    transition: all 0.5s ease-in-out;
}
button:hover{
    background-color: #132454;
}
input[type="text"], input[type="password"] {
    height: 2.5em;
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
}
.middle-ver-align {
    vertical-align: middle;
}
input, input:hover, input:focus {
    transition: all 0.5s ease-in-out ;
    border-color: #233975;
}
input:focus {
    outline: none;
}
.small-margin {
    margin: 5px;
}
