<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FlaskChat</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="../static/css/chat.css">
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}"> -->

  <link rel="icon" href="../static/icons/Favicon.png">
  <!-- <link rel="icon" href="{{url_for('static', filename='icons/Favicon.png')}}"> -->

  <script type="text/javascript">
    function getUsername() {
      return "{{username}}";
    }
  </script>

  <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">

  <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"
    integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>

</head>

<body>

  <div class="container flex no-scroll">

    <div class="left flex col growable shrinkable">

      <div class="flex row space-between" id="top-bar-left">

        <svg class="medium-icon pointable profile-icon" id="left-icon" xmlns="http://www.w3.org/2000/svg" width="128.356"
          height="128.356" viewBox="0 0 128.356 128.356">
          <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
            d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
            transform="translate(-4.5 -4.5)" fill="#fff" />
        </svg>

        <p class="username">{{username}}</p>

        <svg class="smol-icon pointable" id="search-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>

      </div>

      <div class="search">
        <input type="text" name="search" placeholder="Search" class="gray-border no-outline">
      </div>

      <div class="profile flex col center-flex-item growable space-between" id="profile-div">
        <div class="flex col center-flex-item growable space-between">
          <svg class="profile-icon large-medium-icon profile-settings-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
          viewBox="0 0 128.356 128.356">
          <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
          d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
          transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          <p>{{username}}</p>
        </div>
        <div class="flex row space-between" id="settings-footer">

          <a href="">Settings</a>
          <a href="/logout">Logout</a>
        </div>
      </div>

      <div class="users flex col flex-start scrollable">

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

        <div id="global" class="user flex row flex-start center-align-item">
          <svg class="smol-medium-icon user-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
            viewBox="0 0 128.356 128.356">
            <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
              d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
              transform="translate(-4.5 -4.5)" fill="#fff" />
          </svg>
          Global
        </div>

      </div>

    </div>

    <div class="right growable shrinkble flex col">

      <div class="header flex row" id="top-bar-right">
        <!-- <img src="" alt="" class="user-icon"> -->
        <svg class="medium-icon profile-icon" xmlns="http://www.w3.org/2000/svg" width="128.356" height="128.356"
          viewBox="0 0 128.356 128.356">
          <path id="Icon_ionic-md-person" data-name="Icon ionic-md-person"
            d="M68.678,68.678A32.089,32.089,0,1,0,36.589,36.589,32.183,32.183,0,0,0,68.678,68.678Zm0,16.045C47.42,84.723,4.5,95.554,4.5,116.812v16.045H132.856V116.812C132.856,95.554,89.937,84.723,68.678,84.723Z"
            transform="translate(-4.5 -4.5)" fill="#fff" />
        </svg>
        <p class="user-name">Global</p>
      </div>


      <div class="chat flex col growable shrinkable scrollable" id="chat-section-div">
        <p class="send">Hey there! What's up</p>
        <p class="receive">Checking out iOS7 you know..</p>
        <p class="send">Gareeb Saala!</p>
        <p class="receive">Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>
        <p class="send">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa </p>
        <p class="receive">Dear Students, This is to inform all the absentee students of CT1 that a special offline class test will be held on 31.03.2022 (Thursday). The schedule of the test is as follows. Absenteeism of this special test will be treated as absent in CT1. Kindly treat this urgent and mandatory. </p>
        <p class="send"> el3mentry is the only gandu! </p>

      </div>

      <div class="footer flex row no-border no-outline">

        <div class="flex row center-flex-item growable shrinkable" id="dummy-text-field">

          <input type="text" id="message-box" class="growable shrinkable no-border no-outline message-box flex-ratio"
            placeholder="Type a message">

          <svg id='emojis' class="pointable" xmlns="http://www.w3.org/2000/svg" class="size"
            viewBox="0 0 96.125 96.125">
            <path id="Icon_ionic-md-happy" data-name="Icon ionic-md-happy"
              d="M51.438,3.375A48.063,48.063,0,1,0,99.5,51.438,48.05,48.05,0,0,0,51.438,3.375Zm0,86.512a38.45,38.45,0,1,1,38.451-38.45A38.565,38.565,0,0,1,51.438,89.887ZM68.259,46.631a7.209,7.209,0,1,0-7.209-7.209A7.08,7.08,0,0,0,68.259,46.631Zm-33.644,0a7.209,7.209,0,1,0-7.21-7.209A7.08,7.08,0,0,0,34.616,46.631ZM51.438,77.872A26.187,26.187,0,0,0,75.95,61.05H26.925A26.187,26.187,0,0,0,51.438,77.872Z"
              transform="translate(-3.375 -3.375)" fill="#707070" />
          </svg>

        </div>

        <svg id="send" xmlns="http://www.w3.org/2000/svg" class="no-border pointable" width="107.725" height="92.336"
          viewBox="0 0 107.725 92.336">
          <path id="Icon_material-send" data-name="Icon material-send"
            d="M3.051,96.836,110.725,50.668,3.051,4.5,3,40.408l76.946,10.26L3,60.927Z" transform="translate(-3 -4.5)"
            fill="#737577"/>
        </svg>

      </div>

    </div>

  </div>

  <script type="text/javascript" src="../static/js/miscellaneous.js"></script>
  <!-- <script type="text/javascript" src="{{url_for('static', filename='js/miscellaneous.js')}}"></script> -->

  <script type="text/javascript" src="../static/js/emoji.js"></script>
  <!-- <script type="text/javascript" src="{{url_for('static', filename='js/emoji.js')}}"></script> -->

  <script type="text/javascript" src="../static/js/chat.js"></script>
  <!-- <script type="text/javascript" src="{{url_for('static', filename='js/chat.js')}}"></script> -->

</body>

</html>
