<!DOCTYPE html>
<html>
	<head>
		<title>FlaskChat</title>

		<link rel="icon" type="image/png" href="{{ url_for ('static', filename='icons/favicon/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='css/index.css')}}">

	</head>
	<body>
		<div class="chat-section-div">
			
		</div>

		<div class="message-box-div">
			<form class="flex-container">
				<input type="text" name="" id="username-input" placeholder="Username">
				<input type="text" placeholder="Type your message here." id="message-input">
				<input type="button" value="Send.">
			</form>
		</div>

	</body>
</html>