<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
</head>

<body>
    <div class="chat">
        
        <p class="send">Hey there! What's up</p>
        <p class="receive">Checking out iOS7 you know..</p>
        <p class="send">Check out this bubble!</p>
        <p class="receive">It's pretty cool…</p>
        <p class="receive">It's pretty cool…</p>
        <p class="receive">Not gonna lie!</p>
        <p class="send">Yeah it's pure CSS &amp; HTML</p>
        <p class="receive">Wow that's impressive. But what's even more impressive is that this bubble is really high.
        </p>

    </div>
</body>
</html>